{% extends "layout.html" %}
{% block body %}
	<h1 class="headtitle">Flunschliste</h1>
	<div class="content">
	{% for key in fls: %}
		<div class="flunsch-list">
		<h2 class="flunscher">{{ key }}</h2>
		{%for flunsch in fls[key]: %}
			<div class="flunsch">
				<div class="flunsch-title">{{flunsch.title}}</div>
				<div class="flunsch-description">{{flunsch.description}}</div>
				<form action="{{ url_for('remove_flunsch_from_db') }}" method="post" style="display: inline;">
					<input type="hidden" name="id" value={{ flunsch.id }} />
					<input type='submit' value="Löschen">
				</form>
			</div>
		{% endfor %}
		<form action="{{ url_for('add_flunsch') }}" method="post" class="add-button">
			<input type="hidden" name="name" value={{ key }} />	
			<input type='submit' value="Flunsch Hinzufügen">
		</form>
		</div>
	{% endfor %}
	</div>
{% endblock %}
